# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VSCode
.idea/
.vscode/

# Logs
*.log

# Packages
packages/
*.nupkg

# Node (si tenés frontend Angular/React/Vite)
node_modules/
dist/

# Config locales
appsettings.Development.json
.env
.env.*

# Claude
.claude/

# Windows
Thumbs.db
Desktop.ini